<!-- Contenedor principal -->
<div class="home-container">
    <!-- Mega Menu -->
    <div class="card">
        <p-megamenu [model]="menuItems" [style]="{ 'border-radius': '3rem', display: 'flex' }" styleClass="p-4 bg-surface-0 dark:bg-surface-900">
            <!-- Logo o nombre de la aplicación -->
            <ng-template #start>
                <a routerLink="/" class="logo">FastEat</a>
            </ng-template>

            <!-- Ítems del menú -->
            <ng-template #item let-item>
                <a *ngIf="item.routerLink" [routerLink]="item.routerLink" class="flex items-center cursor-pointer px-4 py-2 overflow-hidden relative font-semibold text-lg uppercase" style="border-radius: 2rem">
                    <i [ngClass]="item.icon"></i>
                    <span class="ml-2">{{ item.label }}</span>
                </a>
            </ng-template>

            <!-- Botón de inicio de pedido -->
            <ng-template #end>
                <button
                    pButton
                    type="button"
                    icon="pi pi-shopping-cart"
                    label="Comenzar pedido"
                    class="p-button-success"
                    (click)="startOrder()"
                ></button>
            </ng-template>
        </p-megamenu>
    </div>

    <!-- Carrusel de Promociones -->
    <div class="card mt-8"> <!-- Margen superior para separar del mega menu -->
        <p-carousel [value]="promotions" [numVisible]="3" [numScroll]="3" [circular]="true" [responsiveOptions]="responsiveOptions" autoplayInterval="3000">
            <ng-template let-promotion #item>
                <div class="border border-surface-200 dark:border-surface-700 rounded m-2 p-4">
                    <div class="mb-4">
                        <div class="relative mx-auto">
                            <img [src]="promotion.image" [alt]="promotion.name" class="w-full rounded-lg" style="height: 400px; object-fit: cover;" />
                            <p-tag [value]="promotion.tag" [severity]="getSeverity(promotion.tag)" class="absolute" styleClass="dark:!bg-surface-900" [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" />
                        </div>
                    </div>
                    <div class="mb-4 font-medium text-center text-xl">{{ promotion.name }}</div>
                    <div class="text-center font-semibold text-2xl">{{ promotion.price }}</div>
                </div>
            </ng-template>
        </p-carousel>
    </div>

    <!-- Footer -->
    <app-footer></app-footer>
</div>