<div class="p-4">
    <p-card header="Mis Pedidos">
        <p-table [value]="orders">
            <ng-template #header>
                <tr>
                    <th>ID</th>
                    <th>Producto</th>
                    <th>Estado</th>
                    <th>Total</th>
                </tr>
            </ng-template>
            <ng-template #body let-order>
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.product }}</td>
                    <td>
                        <p-tag [value]="order.status" [severity]="getSeverity(order.status)" />
                    </td>
                    <td>{{ order.total | currency: 'USD' }}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>